<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <title>Dojos</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        
        <!-- Add New Dojo Section -->
        <div class="col-6">
          <div class=" fs-1">
            <p>New Dojo</p>
          </div>
          <div>
            <form action="/dojos/new" method="POST">
              <div>
                <label for="name">
                  Name:
                </label>
                <input type="text" name="name" id="name">
              </div>
              <button class="btn btn-primary mt-3">
                Add Dojo
            </button>
            </form>
          </div>
        </div>

        <!-- List All Dojos Section -->
        <div class="col-6">
          <div class="fs-1">
            <p>All Dojos</p>
          </div>
          <div>
            <ul class="list-group">
              {% for dojo in list_of_dojos: %}
                <li class="mb-2" style="list-style-type: none;">
                  <a href="/dojos/{{ dojo.id }}">
                    {{ dojo.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="mt-5">
              <a href="/ninjas">Add Ninja</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>